<div id="layout">
  <header>
    <div id="logo"></div>
    <a href="/" id="trial">Obtén tu API KEY <i class="fas fa-caret-right"></i></a>
  </header>
  <div id="content">
    <div id="alerts">
      <div *ngFor="let alert of alerts; let i = index" class="alert {{ alert.type }}">
        <div class="icon"><i class="fa fa-{{ iconAlerts[alert.type] }}"></i></div>
        <div class="text">
          <div class="title-alert">{{ alert.title }}</div>
          <div class="message-alert">{{ alert.message }}</div>
        </div>
        <div class="close" (click)="closeAlert(i)"><i class="fa fa-times"></i></div>
      </div>
    </div>
    <div class="box">
      <div class="header"><span><i class="fas fa-comments"></i> Prueba nuestros SMS</span></div>
      <div class="content">
        <div class="api-key" [hidden]="apiExists === true">
          <div>API KEY <i class="fa fa-question-circle gray" title="Introduce el código que te dimos anteriormente. Si no posees código haz clic en el botón de la esquina superior derecha." aria-hidden="true"></i></div>
          <input type="text" name="apiKey" placeholder="Escribe aquí tu API KEY..."/>
          <div class="btn-container">
              <button class="apikey-btn">Guardar</button>
          </div>
        </div>
        <div class="sender" [hidden]="apiExists === false">
          <div class="indicators">
            <div>
                <div class="api-key-badge" title="API KEY"><i class="fas fa-key"></i> {{ apiKey }}</div>
                <i class="fas fa-trash red delete-api-key" title="Eliminar API KEY" (click)="deleteKey()"></i>
            </div>
            <div class="sms-left" title="SMS Restantes / Clic para ver SMS enviados" (click)="changeMode('sended')">{{ messagesLeft }}/30</div>
          </div>
          <div class="form">
            <div class="options">
              <div class="option" [ngClass]="{'active': mode === 'manual'}" (click)="changeMode('manual')">SMS Manual</div>
              <div class="option" [ngClass]="{'active': mode === 'import'}" (click)="changeMode('import')">Importar CSV</div>
            </div>
            <!-- SMS Manual div -->
            <div class="manual" [hidden]="mode !== 'manual'">
                <div class="label-form-title">Número de teléfono</div>
                <input type="phone" name="apiKey" placeholder="Escribe aquí el teléfono..."/>
                <div class="label-form-title">Mensaje</div>
                <textarea placeholder="Mensaje a enviar..."></textarea>
                <div class="btn-container">
                  <button class="apikey-btn">Enviar SMS</button>
                </div>
            </div>
            <!-- Import CSV -->
            <div class="import" [hidden]="mode !== 'import'">
              <div class="file">
                  <input type="file" accept=".csv" value=""/>
              </div>
              <div class="btn-container">
                <button class="apikey-btn">Importar CSV</button>
              </div>
              
            </div>
            <!-- Sended messages list -->
            <div class="sended" [hidden]="mode !== 'sended'">
                <div class="label-form-title">Mensajes enviados</div>
                <div class="table">
                  <div class="header">
                    <div>Teléfono</div>
                    <div>Mensaje</div>
                    <div>Estado</div>
                  </div>
                  <div class="data">
                    <div>+56955555555</div>
                    <div>Mensaje de prueba.</div>
                    <div><i class="fas fa-check-circle green"></i></div>
                  </div>
                </div>
                <div class="btn-container">
                  <button class="apikey-btn" (click)="changeMode('manual')"><i class="fas fa-arrow-left"></i> Volver atrás</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer></footer>
</div>