#layout {
    width: 100%;
    height: 100%;
}

#layout > header {
    width: 100%;
    height: 75px;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#layout > header > #logo {
    width: 238px;
    height: 46px;
    background: url(/assets/img/forcast.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

#layout > header > #trial {
    padding: 5px 15px;
    background: white;
    color: #0D71B9;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #0D71B9;
}


#layout > header > #trial:active {
    transform: scale(0.8);
}

#layout > #content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 10px 10px 10px;
    flex-flow: wrap;
}

/* Alerts system */
#layout > #content > #alerts {
    width: 300px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 100px;
}

#layout > #content > #alerts > .alert {
    width: 100%;
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 20px;
    border-left: 4px solid black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;
}

#layout > #content > #alerts > .alert > .icon {
    font-size: x-large;
}

#layout > #content > #alerts > .alert > .text > .title-alert {
    font-weight: 600;
    padding: 0 20px;
}

#layout > #content > #alerts > .alert > .text > .message-alert {
    font-size: small;
    font-style: italic;
    word-break: break-all;
    padding: 0 20px;
}

#layout > #content > #alerts > .alert > .close {
    color: gray;
    cursor: pointer;
}

/* Colors alerts */
#layout > #content > #alerts > .alert.success {
    border-color: #41d141;
}

#layout > #content > #alerts > .alert.success > .icon {
    color: #41d141;
}

#layout > #content > #alerts > .alert.error {
    border-color: #EF374E;
}

#layout > #content > #alerts > .alert.error > .icon {
    color: #EF374E;
}

#layout > #content > #alerts > .alert.warning {
    border-color: #FFA626;
}

#layout > #content > #alerts > .alert.warning > .icon {
    color: #FFA626;
}

#layout > #content > #alerts > .alert.info {
    border-color: #00A2F9;
}

#layout > #content > #alerts > .alert.info > .icon {
    color: #00A2F9;
}

#layout > #content > .box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
    min-width: 40%;
}

#layout > #content > .box > .header {
    background-color: #0D71B9;
    width: 100%;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: large;
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

#layout > #content > .box > .content {
    padding: 40px;
}

#layout > #content > .box > .content > .api-key > div {
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

input, textarea {
    padding: 0;
    margin: 0;
    border: none;
    border: 2px solid #0D71B9;
    width: 100%;
    border-radius: 3px;
    padding: 10px 15px;
}

::-webkit-input-placeholder {
    color: gray;
}
::-moz-placeholder {
    color: gray;
}
:-ms-input-placeholder {
    color: gray;
}
:-moz-placeholder {
    color: gray;
}

.red {
    color: #EF374E;
}

.green {
    color: #41d141;
}

.gray {
    color: gray;
    cursor: pointer;
}

button {
    display: inline-block;
    border: none;
    padding: 10px 50px;
    margin: 0;
    text-decoration: none;
    background: #0D71B9;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: large;
    font-weight: 600;
    border-radius: 50px;
}

button:hover,
button:focus {
    background: #00A2F9;
}

button:active {
    transform: scale(0.99);
}

.apikey-btn {
    margin-top: 15px;
}

.indicators {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px dashed #ccc;
    border-radius: 3px;
}

.indicators > div {
    display: flex;
}

.indicators > div > .api-key-badge {
    background: #4D4B4C;
    padding: 7px 10px;
    border-radius: 3px;
    color: white;
    font-size: small;
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.indicators > .sms-left {
    background: #FFA626;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}

.delete-api-key {
    margin-top: 7px;
    margin-left: 5px;
    font-size: smaller;
}

.form {
    margin-top: 15px;
}

.form > .options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.form > .options > .option {
    text-align: center;
    width: calc(100% / 2);
    padding: 10px 15px;
    font-weight: 600;
    font-size: larger;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}


.form > .options > .option.active {
    border-bottom: 3px solid #0D71B9;
}

.label-form-title {
    font-weight: 600;
    margin: 10px 0;
}

textarea {
    resize: none;
}

.file {
    padding: 50px 0;
    background: #EFF0F4;
    border-radius: 3px;
    text-align: center;
    border: 1px dashed #4D4B4C;

}

.file > input {
    border: 0;
    width: auto;
}

.table {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.table > .header {
    background: #EFF0F4;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #4D4B4C;
}

.table > .header > div:first-child {
    border-right: 1px solid white;
}

.table > .header > div:last-child {
    border-left: 1px solid white;
}

.table > .data {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px 0;
    border-left: 1px solid #EFF0F4;
}

.table > .data > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: smaller;
    text-align: center;
}

.table > .data > div:empty:before {
    content: "-";
}

.btn-container {
    width: 100%;
    text-align: center;
}